.Root {
  padding: 20px;
  
  height: 100%;
}

.Header {
  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  & > h1 {
    transition: all .8s;
    
    &:first-child {
      &:hover {
        color: #e63946;
      }
    }

    &:last-child {
      margin-left: 20px;

      &:hover{ 
        color: #94d2bd;
      }
    }
  }
}