.Root {  
  width: 100%;
}

.Label {
  margin-bottom: 3px;
  margin-left: 9px;

  color: #011502;
  font-size: 14px;
  font-weight: 400;
}

.Input {
  display: flex;
  align-items: center;

  background: white;
  border-radius: 5px;
  border: 2px solid #e3e4e9;

  &.withPrefix {
    .Prefix {
      padding: 0 6px;
    }

    input {
      padding-left: 0;
    }
  }

  input {
    padding: 10px 20px;

    width: 100%;
    font-size: 24px;
    border-radius: 5px;
    background: transparent;
    border: none;

    &:focus {
      border: none;
      outline: none;
    }
  }
}