.Root {
  margin: 0 auto;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 600px;
  width: 100%;
}

.Balance {
  & > div {
    text-align: center; 

    &:first-child {
      font-size: 24px;
    }  

    &:last-child {
      margin-top: 10px;
      font-size: 60px;
      font-weight: 700;
    }
  }
}